.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  border-bottom: 1px ridge;
  min-height: 200px;
  text-align: center}

.footer {
  background-color: #edf2fa;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding:10px;
  background: floralwhite;
  color: #4287f5; }

.jumbotron a {
  color: #4287f5; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #4287f5; }

.navbar-link {
  color: #fff;
}

.nav-item {
    margin: 30px;
    padding-right: 30px
}

.modal-header {
  background-color: #4287f5; }
  .modal-header .modal-title, .modal-header .close {
    color: floralwhite; }

.modal-body {
  background-color: floral; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #4287f5; color:black;}
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

.featured-image {
  width: 100%;
  padding: 30px;}

.container {
    display: contents;}

footer .container {
    display: block;}

.btn-space {
    padding-left: 30px;}

.copyright-format{
    padding: 15px;
    background: #4287f5;
    color: floralwhite;}

.button-align-center {
    margin: 0px auto;}

footer {
    background: #95bdfc;}

.p-margin {
    margin: 0px 30px;}

.tab_content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}